* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    width: 70%;
    margin: 30px auto;
    box-shadow: 10px 10px 5px grey;
}

h1 {
    color: white;
    background-color: grey;
    padding: 10px;
}

.footer {
    background-color: gray;
    padding: 10px;
    color: white;
}

.footer2 {
    background-color: lightseagreen;
    padding: 10px;
    color: white;
    text-align: center;
} 

.container > p {
    padding: 0px 15px;
}