* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

div {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 4px 4px 6px grey;
}

h1 {
    color: lime;
}